body, html{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
}


#calculator-container{
    background-color: black;
    width:30rem;
    height:40rem;
}

#calculator-screen{
    background-color: red;
    width:95%;
}